# {{ ansible_managed }}
[Unit]
Description=chacra celery service
After=network.target rabbitmq-server.service
Requires=rabbitmq-server.service

[Service]
Type=forking
EnvironmentFile=/etc/conf.d/chacra-sysconfig
User={{ ansible_ssh_user }}
WorkingDirectory={{ app_home }}/src/{{ app_name }}/{{ app_name }}
StandardOutput=journal
StandardError=journal
ExecStart={{ app_home }}/bin/celery multi start 4 -Q:1 poll_repos,celery -Q:2-4 build_repos -A async --logfile=/var/log/celery/%n%I.log --pidfile=%n.pid
ExecStop={{ app_home }}/bin/celery multi stopwait 4 -Q:1 poll_repos,celery -Q:2-4 build_repos --pidfile=%n.pid
ExecReload={{ app_home }}/bin/celery multi restart 4 -Q:1 poll_repos,celery -Q:2-4 build_repos -A async --logfile=/var/log/celery/%n%I.log --pidfile=%n.pid

[Install]
WantedBy=multi-user.target
