[watcher:{{ app_name }}]
cmd = {{ app_home }}/bin/gunicorn_pecan -w 10 -t 20 prod.py
working_dir={{ app_home }}/src/{{ app_name }}

stdout_stream.class = FileStream
stdout_stream.filename=/var/log/circus/{{ app_name }}-stdout.log

stderr_stream.class = FileStream
stderr_stream.filename=/var/log/circus/{{ app_name }}-stderr.log
