# the logging directories must be owned by the user that starts
# the circusd daemon, which is set in /etc/init/circus.conf
# we use a non-root user so that the celery workers start up correctly

[watcher:{{ app_name }}]
cmd = {{ app_home }}/bin/gunicorn_pecan -w 10 -t 500 prod.py
working_dir={{ app_home }}/src/{{ app_name }}

stdout_stream.class = FileStream
stdout_stream.filename=/var/log/circus/{{ app_name }}-stdout.log

stderr_stream.class = FileStream
stderr_stream.filename=/var/log/circus/{{ app_name }}-stderr.log

[watcher:celery]
cmd = {{ app_home }}/bin/celery -A async worker --loglevel=info -Q poll_repos
working_dir={{ app_home }}/src/{{ app_name }}/{{ app_name }}

stdout_stream.class = FileStream
stdout_stream.filename=/var/log/circus/celery-stdout.log

stderr_stream.class = FileStream
stderr_stream.filename=/var/log/circus/celery-stderr.log

[watcher:celery-worker2]
cmd = /opt/chacra/bin/celery -A async worker --loglevel=info -n worker2.%h -Q build_repos,celery
working_dir=/opt/chacra/src/chacra/chacra

stdout_stream.class = FileStream
stdout_stream.filename=/var/log/circus/celery-stdout2.log

stderr_stream.class = FileStream
stderr_stream.filename=/var/log/circus/celery-stderr2.log

[watcher:celery-worker3]
cmd = /opt/chacra/bin/celery -A async worker --loglevel=info -n worker3.%h -Q build_repos
working_dir=/opt/chacra/src/chacra/chacra

stdout_stream.class = FileStream
stdout_stream.filename=/var/log/circus/celery-stdout.log

stderr_stream.class = FileStream
stderr_stream.filename=/var/log/circus/celery-stderr.log

[watcher:celery-worker4]
cmd = /opt/chacra/bin/celery -A async worker --loglevel=info -n worker4.%h -Q build_repos
working_dir=/opt/chacra/src/chacra/chacra

stdout_stream.class = FileStream
stdout_stream.filename=/var/log/circus/celery-stdout.log

stderr_stream.class = FileStream
stderr_stream.filename=/var/log/circus/celery-stderr.log

[watcher:celerybeat]
cmd = {{ app_home }}/bin/celery -A async beat --loglevel=info
working_dir={{ app_home }}/src/{{ app_name }}/{{ app_name }}

stdout_stream.class = FileStream
stdout_stream.filename=/var/log/circus/celerybeat-stdout.log

stderr_stream.class = FileStream
stderr_stream.filename=/var/log/circus/celerybeat-stderr.log

[env:celery,celery-worker2,celery-worker3,celery-worker4,celerybeat]
PECAN_CONFIG = {{ app_home }}/src/{{ app_name }}/prod.py
