# {{ ansible_managed }}

callback_url = "{{ callback_url|default('') }}"
callback_user = "{{ callback_user|default('') }}"
callback_key = "{{ callback_key|default('') }}"
callback_verify_ssl = {{ callback_verify_ssl|default(True) }}

# Health Pings
health_ping = {{ health_ping|default(False) }}
# note this url will get the hostname appended
health_ping_url = "{{ health_ping_url|default('') }}"
# this value will be used when registering the node with shaman
hostname = "{{ fqdn }}"
