# {{ ansible_managed }}
from pecan.hooks import TransactionHook
from chacra import models
from chacra import hooks
from prod_db import sqlalchemy


# Server Specific Configurations
server = {
    'port': '8000',
    'host': '0.0.0.0'
}

# Pecan Application Configurations
app = {
    'root': 'chacra.controllers.root.RootController',
    'modules': ['chacra'],
    'guess_content_type_from_ext': False,
    'hooks': [
        TransactionHook(
            models.start,
            models.start_read_only,
            models.commit,
            models.rollback,
            models.clear
        ),
        hooks.CustomErrorHook(),
    ],
    'debug': False,
}

logging = {
    'loggers': {
        'root': {'level': 'INFO', 'handlers': ['console']},
        'chacra': {'level': 'DEBUG', 'handlers': ['console']},
        'pecan': {'level': 'WARNING', 'handlers': ['console']},
        'pecan.commands.serve': {'level': 'DEBUG', 'handlers': ['console']},
        'py.warnings': {'handlers': ['console']},
        '__force_dict__': True
    },
    'handlers': {
        'console': {
            'level': 'DEBUG',
            'class': 'logging.StreamHandler',
            'formatter': 'simple'
        }
    },
    'formatters': {
        'simple': {
            'format': ('%(asctime)s %(levelname)-5.5s [%(name)s]'
                       '[%(threadName)s] %(message)s')
        },
        'color': {
            '()': 'pecan.log.ColorFormatter',
            'format': ('%(asctime)s [%(padded_color_levelname)s] [%(name)s]'
                       '[%(threadName)s] %(message)s'),
            '__force_dict__': True
        }
    }
}

# When True it will set the headers so that Nginx can serve the download
# instead of Pecan.
delegate_downloads = True

# location for storing uploaded binaries
binary_root = "{{ binary_root }}"
repos_root = "{{ repos_root }}"

# Basic HTTP Auth credentials
# FIXME
api_user = False
api_key = False

# Celery options
# How often (in seconds) the database should be queried for repos that need to
# be rebuilt
polling_cycle = 20

# Once a "create repo" task is called, how many seconds (if any) to wait before actually
# creating the repository
quiet_time = 5

repos = {
    'ceph': {
        'all': {
            'ceph-deploy': ['all'],
            'radosgw-agent': ['all'],
        },
        'combined': ['wheezy', 'trusty', 'precise']
   },
    '__force_dict__': True,
}

# production database configurations are imported from prod_db.py
