apiVersion: v1
kind: Secret
metadata:
  name: chacra-secrets
  labels:
    app: chacra
type: Opaque
stringData:
  # Leave empty to allow automatic generation
  SECRET_KEY: ""

  # Database configuration
  DATABASE_URL: "DATABASE_CONNECTION_URL"
  CHACRA_DB_USER: "DB_USERNAME"
  CHACRA_DB_PASS: "DB_PASSWORD"
  CHACRA_DB_NAME: "DB_NAME"
  CHACRA_DB_HOST: "DB_HOST"
  CHACRA_DB_PORT: "5432"

  # Celery / RabbitMQ configuration
  CELERY_BROKER_URL: "CELERY_BROKER_URL"
  CELERY_RESULT_BACKEND: ""
  RABBITMQ_URL: "RABBITMQ_URL"

  # API authentication
  CHACRA_API_USER: "API_USERNAME"
  CHACRA_API_KEY: "API_KEY"

  # Chacra callback configuration
  CHACRA_HOSTNAME: "CHACRA_HOSTNAME"
  CHACRA_CALLBACK_VERIFY_SSL: "false"
  CHACRA_CALLBACK_URL: "CHACRA_CALLBACK_URL"
  CHACRA_CALLBACK_USER: "CALLBACK_USER"
  CHACRA_CALLBACK_KEY: "CALLBACK_API_KEY"

  # Health ping configuration
  CHACRA_HEALTH_PING: "true"
  CHACRA_HEALTH_PING_URL: "HEALTH_PING_URL"
  CHACRA_HEALTH_PING_INTERVAL: "60"
