---

- hosts: all
  user: ubuntu
  roles:
    - common
    - repos
  vars:
     app_name: "chacra"
     use_ssl: true
     wsgi_file: wsgi.py
     wsgi_callable: application
     ansible_ssh_port: 2222
     binary_root: "/opt/binaries"
     repos_root: "/opt/repos"
